<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/header.ejs') %>
    <title>Document</title>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
    <h1>Predicting......</h1>
    
    <%- include('./partials/script.ejs') %>
</body>

</html>